**/*.svg
/dist
/build
/src/index.ejs
.npmrc
package.json
.dockerignore
.DS_Store
.eslintignore
*.png
.editorconfig
.gitignore
.prettierignore
LICENSE
*.lock
yarn-error.log
.history
CNAME
pnpm-lock.yaml
